.win-top{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
}
.win-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: 1;
    /*background: url("../image/win2.png") bottom no-repeat;*/
}
